@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');



*,
::before,
::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root {

    /* Primary */
    --verydarkmagenta: hsl(300, 43%, 22%);
    --softpink: hsl(333, 80%, 67%);

    /* Neutral */

    --darkgraymagenta: hsl(303, 10%, 53%);
    --lightgraymagenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);

    /* border radius */
    --border-radius: 0.75rem;

}


html {font-size: 93.8%;} /*15px*/

body {
    background-image: url("/images/bg-pattern-top-mobile.svg"), url("/images/bg-pattern-bottom-mobile.svg") ;
    background-repeat: no-repeat, no-repeat;
    background-position: 10vw -1vh, 70vw 75vh;
    background-color: var(--white);
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: var(--verydarkmagenta);

}

p {margin-bottom: 1rem;}


h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text-small {font-size: 0.8rem;}

footer.attribution {
    font-size: 11px;
    text-align: center;
}
footer.attribution a {
    color: hsl(26, 91%, 57%);
}

.sr-only{
    border:0; 
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.img {
    display: block;
    width: 100%;
}
/* 
===========================
Custom styles
===========================
*/

.container {
    display: grid;
    min-height: 100vh;
    justify-content: center;
}
.container-details {
    max-width: 400px;
    width: 100%;
}
.intro h2 {
    font-weight: 700;
    font-size: 3.25rem;
    text-align: center;
    word-spacing: -0.15rem;
    letter-spacing: -0.1rem;
}

.intro p {
    font-weight: 500;
    color: var(--darkgraymagenta);
    text-align: center;
}

.ratings-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.rating  {
    background-color: var(--lightgraymagenta);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--border-radius);
    padding-top: 1rem;
}

.rating p {
    font-weight: 700;
    font-size: 1.25rem;
}

.reviews {
    background-color: var(--white);
    color: var(--white);
    border-radius: var(--border-radius);
    /* gap: 2rem; */
    /* margin-bottom: 1rem; */
    margin: 0;
    /* display: flex;
    flex-direction: column;
    gap: 1rem; */
}

.profile-img {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    object-fit: contain;

}

section.reviews article:first-of-type {
    margin-top: 4rem;
}

.buyer-review {
    padding: 3.5rem 2.5rem 1rem;
    margin-top: 1.5rem;
    color: var(--white); 
}



.reviews article {
    background-color: var(--verydarkmagenta);
    border-radius: var(--border-radius);
}

.buyer-review h4 {
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 500;
}

.buyer-review p {
    line-height: 1.35;
}
.buyer {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2.5rem;

}
.buyer-details {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
}
.name {
    font-size: 1.45rem;
    font-weight: 500;
    /* margin:0; */
    /* border: 2px green solid; */
    /* margin-left: 1rem; */
    
    /* width: */
}
.verified {
    color: var(--softpink);
    font-size: 1.55rem;
    /* border: 2px red solid; */
    font-weight: 400;
    display: inline-block;
    margin-top: -0.75rem;
}

.buyer-review p {
    font-size: 1.5rem;
}