@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');



*,
::before,
::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root {

    /* Primary */
    --verydarkmagenta: hsl(300, 43%, 22%);
    --softpink: hsl(333, 80%, 67%);

    /* Neutral */
    --darkgraymagenta: hsl(303, 10%, 53%);
    --lightgraymagenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);

    /* border radius */
    --border-radius: 0.75rem;

}


html {font-size: 93.8%; } /*15px*/

body {
    background-color: var(--white);
    background-image: url("/images/bg-pattern-top-mobile.svg"), url("/images/bg-pattern-bottom-mobile.svg");
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    line-height: 1.75;
    color: var(--verydarkmagenta);
}


p {margin-bottom: 1rem;}


h1, h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'League Spartan', sans-serif;
    font-weight: 400;
    line-height: 1.3;
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text-small {font-size: 0.8rem;}

footer.attribution {
    font-size: 11px;
    text-align: center;
}
footer.attribution a {
    color: hsl(26, 91%, 57%);
}

.sr-only{
    border:0; 
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

.img {
    display: block;
    width: 100%;
}
/* 
===========================
Custom styles
===========================
*/

.container {
    display: grid;
    min-height: 100vh;
    justify-content: center;
}

.container-details {
    max-width: 375px;
    width: 100%;
    padding: 0 2rem;
}

.intro h2 {
    font-weight: 700;
    font-size: 3.25rem;
    text-align: center;
    word-spacing: -0.15rem;
    letter-spacing: -0.1rem;
    line-height: 2.5rem;
}

.intro p {
    font-weight: 500;
    color: var(--darkgraymagenta);
    text-align: center;
    padding: 0 1rem;
}

.ratings-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
}

.rating  {
    background-color: var(--lightgraymagenta);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--border-radius);
    padding-top: 1rem;
}

.rating p {
    font-weight: 700;
    font-size: 1.25rem;
}

.rating img {
    margin: 0.25rem;
}

.reviews {
    border-radius: var(--border-radius);
    margin: 0;
}


section.reviews article:first-of-type {
    margin-top: 4rem;
}

.profile-img {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    object-fit: contain;

}

.buyer-review {
    padding: 3.5rem 2.5rem 1rem;
    margin-top: 1.5rem;
    color: var(--white); 
    background-color: var(--verydarkmagenta);
    border-radius: var(--border-radius);
}

.buyer-review h4 {
    color: var(--white);
    font-size: 1.25rem;
    font-weight: 500;
}

.buyer {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1.5rem;
}

.buyer-details {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
}

.name {
    font-size: 1.45rem;
    font-weight: 500;
}

.verified {
    color: var(--softpink);
    font-size: 1.55rem;
    font-weight: 400;
    display: inline-block;
    margin-top: -0.75rem;
}

.bquote {
    display: inline;
}

blockquote p::before {
    content: open-quote;
}

blockquote p::after {
    content: close-quote;
}

blockquote {
    quotes: "“" "”" "‘" "’";
}

/* 
========================================
Media Query
========================================
*/


@media screen  and (min-width: 1200px) {

body {
    background-image: url("/images/bg-pattern-top-desktop.svg"), url("/images/bg-pattern-bottom-desktop.svg");
}
.container-details {
    display: grid;
    grid-template-areas: 
        ". . two two two two two"
        "one one two two two two two"
        "one one two two two two two"
        "three three three three three three three"
        "three three three three three three three";
    min-width: 100vw; 
    justify-items: start;
    align-items: center;
}

.intro {
    grid-area: one;
    display: grid;
    align-items: center;
    justify-items: center;
}

.intro h2 {
    text-align: left;
    margin-left: 5rem;
    margin-bottom: 1rem;
    width: 25rem;
    margin-top: 3rem;
    line-height: 3rem;
}

.intro p {
    text-align: left;
    margin-left: 5rem;
    width: 25rem;
    padding: 0;
}

.ratings-container {
    grid-area: two;
    align-self: center;
    margin-top: 10rem;
    margin-right: 1rem;
    justify-self: center;
}

.rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 35rem;
}
.rating img:first-child {
    margin-left: 3rem;
}
    
.rating p  {
    margin-left: 2rem;
}

.rating:nth-of-type(2) {
    margin-left: 4rem;
}

.rating:nth-of-type(3) {
    margin-left: 8rem;
}

section.reviews article:first-of-type {
    margin-top: 0;
}
    
.reviews {
    grid-area: three;
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    padding:4rem;
}

.buyer-review:nth-of-type(2) {
    margin-top: 2rem;
}

.buyer-review:nth-of-type(3) {
    margin-top: 4rem;
}

}